#carousel figure h2 {
  font-size: 5vw;
  line-height: 4vw;
  margin: 0;
}

#carousel figure img {
  max-width: 100%;
}

#carousel figure hr {
  display: block;
  margin: 8px 0;
}

#carousel figure button {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 30%;
  height: 6vh;
  font-size: 1.5vw;
}

.other-content {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: auto;
}

