html {
	height	:100%;
}

body {
	font-family: 'Crimson Text', serif;
	font-size: 18px;
	height: 100%;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

ul li a {
	color: #444;
	text-decoration: none;
}

ul li a:hover {
	color: #444;
	text-decoration: none;
}

.require {
	color: red;
}

.link {
	margin-bottom: 100px;
}

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}

.margin-centered {
	margin: 0 auto 0 auto;
}

.padding-left {
	padding-left: 15px;
}

.padding-right {
	padding-right: 15px;
}

.margin-top {
	margin-top: 50px;
}

.home-adjust {
	width: 800px;
	height: 500px;
	margin: 0 0 0 auto;
}

.thumbnail-adjust {
	padding-top: 5px;
	border-bottom: none;
	margin: 20px auto 0 auto;
}

.featured-content {
	margin: 0 auto 0 0;
	display: inline;
}

.featured-content a {
	color: #222;
	text-decoration: none;
}

.featured-content li {
	margin: 10px 0 0 0;
}


.featured-content a:HOVER {
	font-style: oblique;
	color: #0362a2;
}

.sign-up-form {
	margin-top: 50px;
}

.table-settings {
	width: 500px;
	height: 100%;
}

.thumbnail-setting {
	width: 200px;
	margin-right: 10px;
}

.basic-setting {
	margin-top: 20px;
}

.carousal-thumb {
	margin: 10px auto auto auto;
}

.special-banner {
	margin-top: 15px;
	margin-bottom: 0;
}

.bottom-featured-game {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ci-settings {
	margin-left: -50%;
	margin-bottom: -75%;
}

.thumbnail>img {
	margin: auto auto auto auto;
}

.game-image {
	width: 380 px;
	height: 415 px;
}

.spinner {
	width: 100px;
}

.spinner input {
	text-align: right;
}

.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}

.input-group-btn-vertical>.btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}

.input-group-btn-vertical>.btn:first-child {
	border-top-right-radius: 4px;
}

.input-group-btn-vertical>.btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
	position: absolute;
	top: 0;
	left: 4px;
}

.account-tab {
	background-color: #222;
	padding: 0px 0px 0px 0px;
	margin-bottom: 50px;
}

.account-tab li:hover {
	background-color: #444;
}

.account-tab li {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.account-tab li a {
	color: #fff;
	font-size: 16px;
}

.account-tab li a:hover {
	color: #fff;
}

.panel-acctab {
	margin-top: 50px;
	margin-bottom: 50px;
	width:
}

#ad_setting {
	background-color: #f5f5f5;
}

#ad_setting li a {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

#form-title a {
	margin-right: 10px;
}

.wrapper {
	position: relative;
}

.wrapper .glyphicon {
	position: absolute;
	top: 10px;
	right: 15px;
}

#shipping {
	margin-left: 20px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
	{
	margin-left: 15px;
}

.navbar, .navbar-default {
	border-top: 0px;
}

.carousel-inner.onebyone-carosel {
	margin: auto;
	width: 90%;
}

.onebyone-carosel .active.left {
	left: -33.33%;
}

.onebyone-carosel .active.right {
	left: 33.33%;
}

.onebyone-carosel .next {
	left: 33.33%;
}

.onebyone-carosel .prev {
	left: -33.33%;
}

.product_images {
	width: 180px;
	height: 215px;
}

.cartQuant {
	width: 25px;
	height: 25px;
}

a {
	color: #444;
}

a:HOVER {
	color: #444;
	text-decoration: none;
}

.badge {
	color: #98978b;
	background-color: #fff;
}
#updateQuant {
	margin-left: 5px;
}
.cartImage {
	width: 125px;
	height: 150px;
}
.cartQuant {
	width: 40px;
}
.form-horizontal .labelPadding{
	padding-top: 0px;
}
.payment-page {
	margin-top: 50px;
}
.radio-opt {
	padding-left: 10px;
}
.error-msg {
	padding-top: 15px;
	padding-bottom: 15px;
	color: red;
	font-style: italic;
}
.thubnail-feat {
	margin-left: 0px;
	margin-right: 0px;
	width: 242px;
	height: 200px;
}
.thumbnail-set {
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.thumb-pad {
	padding-left: 0px;
	padding-right: 0px;
}
.best-sell {
	width: 150px;
	height: 150px;
}

.help-block {
	color: #ff0000;
}
.navbar .nav > li > a {
	font-size: 18px;
}
.dropdown-menu > li > a {
	font-size: 15px;
}
.main-wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 25px;
	height: 60px;
	width: 100%;
}
footer {
	margin: 0;
}
.form-control {
	font-size: 18px;
}
#quantity {
	width: 25%;
}
.btn {
	font-size: 13px;
}
#stock {
	width: 40%;
}
#showcase {
	font-size: 13px;
}
.float-my-children > * {
    float:left;
    margin-right:5px;
} 