body {
	background-color: #222;
	background-image: url(../img/background-img.jpg);
	background-position: top right;
}
.no-margin 
{
	margin:0px;
}
.no-padding 
{
	padding: 0px;
}
.margin-centered
{
	margin: 0 auto 0 auto;
}
.padding-left
{
	padding-left: 15px;
}
.padding-right
{
	padding-right: 15px;
}
.margin-top
{
	margin-top: 50px;
}
.footer-container
{
	margin-top: 20px;
}
.footer
{
	background: #222;
	border-color: #101010;
	color: #b2b2b2;
	bottom: 0px;
/* 	position: relative; */
}

.footer 
{
	list-style: none;
}
.footer-nav li 
{
	padding-top: 5px;
	display: inline;
	padding: 0 10px;
}
.footer-nav a 
{
	color: #b2b2b2;
}
.footer-nav a:HOVER 
{
	color: #fff;
	text-decoration: none;
	content: ''
}
